The _News-to-Visual_ Autonomous Pipeline (NVAP).json
{
  "name": "The \"News-to-Visual\" Autonomous Pipeline (NVAP)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        48,
        -16
      ],
      "id": "496c35fd-08c5-4094-bded-c8555aafa0c0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        256,
        -16
      ],
      "id": "ed642f70-4fbf-49da-a1b7-dbf62f5ce06b",
      "name": "RSS Read",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true,
      "notesInFlow": true,
      "notes": "\"The RSS Ingestion Engine acts as an 'Always-On' trend radar, capturing viral signals from global tech and health feeds in real-time.\""
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "\"You are a Professional YouTube Automation Architect. Your sole task is to transform raw RSS news data into high-retention 60-second Reel scripts.\n\nYour Operational Constraints:\n\nThe Hook: Generate 3 'Scroll-Stopping' hooks (one curiosity-based, one shock-based, and one value-based).\n\nThe Narrative: Write a fast-paced, high-energy script under 140 words.\n\nThe CTA: Include a creative call-to-action to maximize subscriber growth.\n\nTone: Engaging, authoritative, and viral-focused.\n\nStructure: Use clear headings for Hook, Script, and CTA so the output is production-ready.\" \"Add Message\" dabayein, User select karein aur ye mapping karein:\n\n\"Generate a viral script for the following news item:\nTitle: {{ $node[\"RSS Read\"].json[\"title\"] }}\nSummary: {{ $node[\"RSS Read\"].json[\"contentSnippet\"] }}\n\nEnsure the script is optimized for the YouTube algorithm's retention metrics.\""
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        464,
        -16
      ],
      "id": "bcfdaf18-662e-4c77-8d35-77df9a72e684",
      "name": "Message a model",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true,
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "NWR6kJaTncFvJLtc",
          "name": "n8n free OpenAI API credits"
        }
      },
      "notes": "\"The 'Message a Model' node serves as the 'AI Script Architect,' autonomously distilling real-time RSS data into production-ready scripts optimized for the YouTube algorithm's retention metrics."
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=\"A dramatic, ultra-realistic 9:16 vertical cinematic landscape illustrating the tech news: '{{ $node[\"RSS Read\"].json[\"title\"] }}'. Focus on a single futuristic object, like a dancing robot or AI interface, glowing with neon blue and purple lights. The background is a dark, sleek, sci-fi city with rain and fog. The style is cyberpunk-aesthetic, with high contrast, deep shadows, and an optimized aspect ratio (9:16) with no text, labels, or watermarks within the image.\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        816,
        -16
      ],
      "id": "4cf366f9-e01a-4023-a67e-f235b1596068",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "NWR6kJaTncFvJLtc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ab8989300393@gmail.com",
        "subject": "[Short 4-5 word catchy title]",
        "message": "[A 1-sentence summary + a confirmation that the DALL-E 3 visual is ready for the voiceless reel.]  Output ONLY the Subject and Message, no extra conversation.\"",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1024,
        -16
      ],
      "id": "3da38a05-e519-420e-b0c5-6ccc0d0cfd93",
      "name": "Send a message",
      "webhookId": "4310114d-7878-47d0-acc9-06a9e18d82d7",
      "credentials": {
        "gmailOAuth2": {
          "id": "33lZs8yqJtN5MnXj",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "32eda9b4-784c-4b1f-93d8-d0cb6b499c7b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3323913e4601e9e9f1d4a239940e12759579e6773d84025c0ebeb9f7ee86a46"
  },
  "id": "otIVnRvd2CqxDi8m",
  "tags": []
}